<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array> 
    <string>kind</string>
   </array>
  <key>name</key>
  <string>kind</string>
  <key>patterns</key>
  <array> 
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.kind</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#keyword</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#punctuations</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#numeric</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#type</string>
        </dict>
        <dict>
        <key>match</key>
          <string>(\blet\s|\bdup\s|\bcpy\s|\bget\s)</string>
          <key>name</key>
          <string>storage.type.kind</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.kind</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>string.kind</string>
          <key>end</key>
          <string>(\&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.kind</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>((\s*|\t*)//.*)</string>
          <key>name</key>
          <string>comment.line.double-slash.kind</string>
        </dict>
       </array>
    </dict>
    <key>keyword</key>
    <dict>
      <key>patterns</key>
      <array> 
      <dict>
          <key>match</key>
          <string>(\bdup\s|\bcpy\s|\bget\s|\btype\s|\bMain\s|\bdef\s|\blet\s)</string>
          <key>name</key>
          <string>punctuation.definition.group.regexp.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bopen\s|\bcase\s)</string>
          <key>name</key>
          <string>keyword.operator.negation.regexp.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bneg\b|\beql\b|\bor\b|\band\b|\bltn\b|\bgtn\b|\bxor\b)</string>
          <key>name</key>
          <string>storage.modifier.kind emphasis..kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\brefl\b|\bprint\b|\bapp\b|\bnone\b|\bsome\b|\bself\b|\bget\b|\bmodule\b|\bbind\b|\bpure\b|\bsuccess\b|\bfailure\b)</string>
          <key>name</key>
          <string>string.regexp.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bnew\b|\bnull\b|\bshow\b|\bvalue\b)</string>
          <key>name</key>
          <string>variable.parameter.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bquery\b|\bparam\b|\bargm\b)</string>
          <key>name</key>
          <string>entity.name.directive.restructuredtext.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\berror\b)</string>
          <key>name</key>
          <string>punctuation.definition.group.assertion.regexp.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bpred\b|\blength\b|\bidx\b)</string>
          <key>name</key>
          <string>entity.name.directive.restructuredtext.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bdepth\b|\bhead\b|\btail\b)</string>
          <key>name</key>
          <string>string.regexp.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bnil\b|\bzero\b)</string>
          <key>name</key>
          <string>storage.modifier.kind emphasis..kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bsucc\b|\bcons\b)</string>
          <key>name</key>
          <string>entity.name.type.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bnum\b|\bexp\b|\bpos\b|\bvar\b|\blam\b|\bapp\b|\bindex\b|\bbody\b|\bfunc\b|\bmap\b)</string>
          <key>name</key>
          <string>entity.other.attribute-name.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\btip\b|\btie\b|\blft\b|\brgt\b|\brows\b|\bcolumns\b|\bmul\b|\bfst\b|\bsnd\b|\btrd\b|\barr\b|\bval\b|\bsum\b|\bswap\b)</string>
          <key>name</key>
          <string>entity.name.type.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bif\s|\sthen\s|\belse\s|\bfor\s|\sin\s|\swith\s)</string>
          <key>name</key>
          <string>keyword.other.this.kind</string>
        </dict>
       </array>
    </dict>
    <key>main__1</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>numeric</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b[01]+\b)</string>
          <key>name</key>
          <string>constant.numeric.integer.binary.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(^0[0-7]+$)</string>
          <key>name</key>
          <string>constant.numeric.integer.octal.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(^[\d.]+$)</string>
          <key>name</key>
          <string>constant.numeric.integer.decimal.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(0[a-z\x\x{007b}007c\x{007d}A-Z][0-9a-fA-F]+)</string>
          <key>name</key>
          <string>constant.numeric.integer.hexadecimal.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b[\x\x{007b}002b\x{007d}-]?([0-9]*[.])?[0-9]+)</string>
          <key>name</key>
          <string>constant.numeric.float.kind</string>
        </dict>
       </array>
    </dict>
    <key>punctuations</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(#|~|\$|\?|\+|%|&amp;|\*)</string>
          <key>name</key>
          <string>constant.other.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(!|\_)</string>
          <key>name</key>
          <string>punctuation.definition.group.assertion.regexp.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(=|:|=[\x{003e}]|=&gt;|\s-&gt;\s|~[\x{003e}]|,|\.|&lt;|&gt;|;)</string>
          <key>name</key>
          <string>storage.modifier.import.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\[|\]|\{|\}|\(|\)|\|)</string>
          <key>name</key>
          <string>constant.language.kind</string>
        </dict>
       </array>
    </dict>
    <key>type</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\bLambda\b|\bFin\b|\bPos32\b|\bV2\b|\bV3\b|\bTriple\b)</string>
          <key>name</key>
          <string>string.regexp.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bU8\b|\bU16\b|\bU32\b|\bU64\b|\bU128\b|\bU256\b|\bNat\b)</string>
          <key>name</key>
          <string>entity.name.function.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bI8\b|\bI16\b|\bI32\b|\bI64\b|\bI128\b|\bI256\b|\bInt\b|\bF32\b|\bF64\b)</string>
          <key>name</key>
          <string>support.constant.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bArray\b|\bList\b|\bPair\b|\bMatrix\b|\bVector\b|\bParser\b|\bState\b|\bReply\b|\bSet\b|\bSigma\b)</string>
          <key>name</key>
          <string>constant.regexp.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bApp\b|\bType\b|\bEmpty\b|\bEqual\b|\bFunction\b|\bFunctor\b|\bUnit\b|\bMap\b)</string>
          <key>name</key>
          <string>entity.name.type.class.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bMaybe\b|\bModule\b|\bDynamic\b|\bMonad\b|\bMonoid\b|\bResult\b)</string>
          <key>name</key>
          <string>punctuation.definition.group.regexp.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bBool\b|\bNot\b|\bOr\b|\bEither\b|\bAnd\b)</string>
          <key>name</key>
          <string>entity.name.function.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bChar\b|\bDate\b|\bWord\b|\bIO\b|\bString\b|\bBuffer32\b)</string>
          <key>name</key>
          <string>support.constant.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\btrue\b)</string>
          <key>name</key>
          <string>entity.name.type.kind</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bfalse\b)</string>
          <key>name</key>
          <string>storage.modifier.kind emphasis.kind</string>
        </dict>
       </array>
    </dict>
  </dict>
</dict>
</plist>
